*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

/*    echo "<pre>"; print_r($obVaga);  echo "</pre>";exit;    */

.title{
    color: rgb(245, 239, 158);
}

.btn-sucesso{
    padding: 0.4rem 1.5rem;    
}

.jumbotron{
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.check{
    margin-left: -2rem;
}